body {
  max-width: 100%;
  background: url('../../assets/images/its-always-sunny-bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header{
  margin-top: .5rem;
}

card{
  background-color: #ccc;
}

/* Typography */

h1 {
  color: #FFF;
}

h1,h2 {
  font-family: 'Signika', sans-serif;
  font-style: italic;
}

p {
  font-family: 'Signika', sans-serif;
}


/* Classes & IDs */

#question {
  font-family: 'Signika', sans-serif;
  font-size: 24px;
}

#choices {
  margin-bottom: 2rem;
}
.win {
  font-family: 'Signika', sans-serif;
  color: #28a745;
  font-weight: bold;
}

.loss {
  font-family: 'Signika', sans-serif;
  color: #dc3545;
  font-weight: bold;
}

.btn-choice {
  background-color: #2d2d2d;
  color: #fff;
  margin-right: 1rem;
  font-size: 12px;
}

fas {
  font-size: 24px;
}

.correct-choice-shown {
  color: #28a745;
  font-size: 18px;
  font-weight: 400;
}

.incorrect-choice-shown {
  color: #dc3545;
  font-size: 18px;
  font-weight: 400;
}
